@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
  }

  /* Dark mode (padrão) */
  html {
    background-color: #0f0f1a;
    color: #e2e8f0;
  }

  /* Light mode */
  html.light {
    background-color: #f8fafc;
    color: #0f172a;
  }
}
